html{
    box-sizing: border-box;
    font-size: 6.25%;
    line-height: 16rem;
    font-family: "Poppins", sans-serif;
  }
  body {
    color: #333; 
    font-size: 16rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  *{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  :root {
    --success-color: rgb(0, 128, 0);
    --warning-color: rgb(255, 165, 0);
    --error-color: rgb(255, 0, 0);
    --success-light-color: rgba(0, 128, 0, 0.4);
    --warning-light-color: rgba(255, 165, 0, 0.4);
    --error-light-color: rgba(255, 0, 0, 0.4);
  }