.container{
    text-align: center;
}
h2{
    margin-bottom: 30px;
}
.layer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,20%);
}
.slider{
    width: 600px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    cursor: w-resize;
}
.slider span {
    z-index: 10;
    font-size: 20rem;
    color: white;
}
.process{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #bb69cc, #246bac);
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}